@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import "navbar.css";
@import "footer.css";
@import "posts.css";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  grid-gap: 10%;
}

.flex-flow-column{
  display: flex;
  flex-flow: column;
}

a{
  text-decoration: none;
  color: rgb(110, 122, 183);
}

input{
  border-radius: 2px;
  border-color: rgb(200, 200, 200);;
}

button {
  font-size: 16px;
  background-color: #555555;
  color: white;
  border: 2px solid #555555;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
}

button:hover {
  background-color: white;
  color: #555555;
}
